/doc
*.gcc
*.hex
*.sym
*.lst
*.lss
*.eep
*.bak
*.RX
/halavr.d
/halavr.lst
/kernel.d
/kernel.lst
/system.d
/system.lst
/test.d
/test.lst
/timetest.d
/timetest.lst
/uart.d
/uart.lst
/uartavr.d
/uartavr.lst
/ertos.cof
/ertos.eep
/ertos.elf
/ertos.lss
/ertos.ly1
/ertos.map
/ertos.sym
